ago==0.1.0
asgiref==3.11.0
Authlib==1.6.6
beautifulsoup4==4.14.3
bs4==0.0.2
cachetools==6.2.4
certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.1
cryptography==46.0.3
defusedxml==0.8.0rc2
distro==1.9.0
Django==6.0
django-ordered-model==3.7.4
google-api-core==2.28.1
google-api-python-client==2.187.0
google-auth==2.45.0
google-auth-httplib2==0.3.0
googleapis-common-protos==1.72.0
html5lib==1.1
httplib2==0.31.0
idna==3.11
lxml==6.0.2
mechanize==0.4.10
mysqlclient==2.2.7
oauth2client==4.1.3
oauthlib==3.3.1
proto-plus==1.27.0
protobuf==6.33.2
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.23
PyJWT==2.10.1
pyparsing==3.2.5
python3-openid==3.2.0
requests==2.32.5
requests-oauthlib==2.0.0
rsa==4.9.1
six==1.17.0
social-auth-app-django==5.7.0
social-auth-core==4.8.3
soupsieve==2.8.1
sqlparse==0.5.5
typing_extensions==4.15.0
uritemplate==4.2.0
urllib3==2.6.2
webencodings==0.5.1
zulip==0.9.1
