Django==2.2.21
# social-auth-app-django==
# PyMySQL==0.7.2
mysqlclient
django-ordered-model==3.3.0
# python-social-auth==0.2.13
social-auth-app-django
google-api-python-client
mechanize
# wsgiref==0.1.2
oauth2client
lxml
