<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/base.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/status.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/priority.css" />
    <title>{% block title %}{% endblock %}</title>
  </head>

  <body>
    <div id="header">
      <ul id="navlist">
	<li><a target="_top" href="/overview/">Overview</a></li>
	<li><a target="_top" href="/database/">Database</a></li>
	<li><a target="_top" href="/progress/">Progress</a></li>
	<li><a target="_top" href="/tools/">Solving tools</a></li>
	<li><a target="_top" href="/help/">Help</a></li>
      </ul>
      HQ: 555-555-2012
    </div>

    <div id="user">
      User: <span class="username">{{ user.first_name }} {{ user.last_name }}</span>
      Working on:
      {% if my_puzzles %}
      <ul id="puzzlelist">
	{% for puzzle in my_puzzles %}
	<li>
	  <form action="{% url puzzles.views.puzzle_remove_solver puzzle.id %}" method="post">{% csrf_token %}
	    <a target="_top" href="{% url puzzles.views.puzzle puzzle.id %}">{{ puzzle.title }}</a>
	    <input type="hidden" name="continue" value="{{ path }}" />
	    <input type="hidden" name="solver" value="{{ user.id }}" />
	    <input type="image" src="{{ STATIC_URL }}img/remove.png" type="submit" alt="Remove" />
	  </form>
	</li>
	{% endfor %}
      </ul>
      <form action="{% url puzzles.views.go_to_sleep %}" method="post">{% csrf_token %}
	<input type="hidden" name="continue" value="{{ path }}" />
	<input type="submit" value="Clear" />
      </form>
      {% else %}
      nothing
      {% endif %}
    </div>

    <div id="motd">
      {{ motd|safe }}
    </div>

    <div id="content">{% block content %}{% endblock %}</div>
  </body>
</html>
