<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/base.css" />
    <title>Go register for Humbug</title>
  </head>
  <body id="humbug-info">
    <div id="infoheader">
      <div id="teamname">METAPHYSICAL PLANT</div>
    </div>
    <div>
      <p><strong>You need to register for Humbug.</strong> Please read the instructions below.</p>
      <p>
	In the &#8220;Your name&#8221; field, please enter your actual
	name, rather than the name of your favorite Tolkein character
	or the order of your favorite finite simple group.  That'll
	make it easier for everyone to know who they're talking to.
      </p>
      <p>
	You can use any password you like.
      </p>
      <p>
	A brand-new email address has been provided for you
	automatically.  In particular you will not receive any email
	from Humbug, so if you need any assistance regarding your
	Humbug account, for example to reset your password, or if you
	have any other questions about Humbug, contact our
	quartermaster.
      </p>
      <p>
	<a target="_blank" href="{{ confirmation_url }}">Register for Humbug</a>,
	read the instructions that will appear there,
	then <a href="">refresh this pane</a>.
      </p>
    </div>
  </body>
</html>
