<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/base.css" />
    <title>Go register for Humbug</title>
  </head>
  <body id="humbug-info">
    <div id="infoheader">
      <div id="teamname">METAPHYSICAL PLANT</div>
    </div>
    <div>
      <p><strong>You need to register for Humbug.</strong> Please read the instructions below.</p>
      <p>
	In the &#8220;Your name&#8221; field, please enter your actual
	name, rather than the name of your favorite Tolkein character
	or the order of your favorite finite simple group.
      </p>
      <p>
	You can use any password you like.  For simplicity, we suggest
	using the same password you use to access this Metaphysical
	Plant solving site, in case you accidentally log out or want to
	access Humbug from another system.
      </p>
      <p>
	An email address has been filled in for you automatically.  If
	you need any assistance regarding your Humbug account, contact
	our quartermaster.
      </p>
      <p>
	<a target="_blank" href="{{ confirmation_url }}">Register for Humbug</a>,
	then <a href="">refresh this pane</a>.
      </p>
    </div>
  </body>
</html>
