{% extends "puzzles/base_generic.html" %}

{% load static %}

{% block title %}Overview{% endblock %}

{% block content %}
<div id="overview">

    <div id="tagcontrol">
    View puzzles by:
    {% for taglist in taglists %}
      {% if taglist.id == active_taglist_id %}
	<span class="active-taglist">{{taglist.name}}</span>
      {% else %}
	<a class="taglink" href="{% url 'puzzles.views.overview_by' taglist.id %}"><span class="taglist">{{ taglist.name }}</span></a>
      {% endif %}
    {% endfor %}
   </div>

  <div id="puzzlesbytag">
   <div id="userwork">
      Hello, <strong>{{ user.first_name }} {{ user.last_name }}</strong> (<a href="{% url 'puzzles.views.logout_user' %}">switch</a> if that's not you). You are currently in <strong>{{ user.userprofile.location.name }}</strong>, working on:
      {% if my_puzzles %}
      <ul id="puzzlelist">
        {% for puzzle in my_puzzles %}
        <li>
          <form action="{% url 'puzzles.views.puzzle_remove_solver' puzzle.id %}" method="post">{% csrf_token %}
            <a target="_top" href="{% url 'puzzles.views.puzzle' puzzle.id %}">{{ puzzle.title }}</a>
            <input type="hidden" name="continue" value="{{ path }}" />
            <input type="hidden" name="solver" value="{{ user.id }}" />
            <input type="image" src="{% static "img/remove.png" %}" type="submit" style="float:right;" alt="Remove {{ puzzle.title }} from work list" title="Remove {{ puzzle.title }} from work list" />
          </form>
        </li>
        {% endfor %}
      </ul>
      <form action="{% url 'puzzles.views.go_to_sleep' %}" method="post">{% csrf_token %}
        <input type="hidden" name="continue" value="{{ path }}" />
        <input type="submit" value="Remove all" />
      </form>
      {% else %}
      nothing. Make sure to add yourself to the work list for any puzzle you work on. That makes sure we don't work on the same thing in parallel.
      {% endif %}
    </div>
  {% if jitsi_data %}
  <div class="onetag">
     <table class="puzzle-list">
       <tbody>
       <tr class="solver-list-header">
       <th colspan=2>
         Solvers + Their Active Jitsi Rooms (refresh for latest)
       </th>
       </tr>
       {% for solver in jitsi_data %}
       <tr class="solver-list-regular">
           <td class="puzzle-list-status"> {{ solver.0 }} </td>
           <td class="puzzle-list-title">
<ul style="list-style-type:none; margin:0;padding:0;">
	     {% for room in solver.1 %}
             <li><a href="https://meet.metaphysicalplant.com/{{ room.0 }}" target="_{{room.0}}"><img src="{% static "img/videocamera.png" %}" width=11></a> {% if room.2 %}<a href={%url 'puzzles.views.puzzle' room.2 %}>{% endif %}{{ room.1 }}{% if room.2 %}</a>{% endif %}</li>
             {% endfor %}
	     </ul>
           </td>
       </tr>
       {% endfor %}
       </tbody>
    </table>   
  </div>
  {% endif %}
  {% for tag in tags %}
   <div class="onetag"> 
   <table class="puzzle-list">
      <tbody>
	<tr class="puzzle-list-header">
	  <th colspan=3>
	    {% if unassigned_only %}Unassigned puzzles{% else %}Puzzles{% endif %} with tag <span class="tag">{{ tag.name }}</span>
	  </th>
	</tr>
	{% for puzzle in tag.puzzles %}
	{% if puzzle.id in assigned_puzzles %}
	{% else %}
	  <tr class="priority-{{puzzle.priority.css_name}} status-{{ puzzle.status.css_name }} puzzle-list-regular">
	    <td class="puzzle-list-puzzle">
	      <a target="_blank" href="{{ puzzle.url }}"><img src="{% static "img/external.png" %}" title="See {{puzzle.title}} on hunt site"></a>
	    </td>
	    <td class="puzzle-list-title">
	      <a href="{% url 'puzzles.views.puzzle' puzzle.id %}">{{ puzzle.title }}</a>
	      {% if puzzle.priority != default_priority %}
	      <span class="puzzle-priority priority-{{ puzzle.priority.css_name }}">{{ puzzle.priority.text }}</span>
	      {% endif %}
	    </td>
	    <td class="puzzle-list-status answercolumn-{{puzzle.status.css_name}}">
	      {% if puzzle.answer_or_status.answer %}
	      <span class="puzzle-answer">{{ puzzle.answer_or_status.answer }}</span>
	      {% else %}
	      {{ puzzle.answer_or_status.status.text }}
	      {% endif %}
	    </td>
	  </tr>
        {% endif %}
	{% endfor %}
      </tbody>
    </table>
    </div>
  {% endfor %}
  </div>
</div>
{% endblock %}
