{% extends "puzzles/base_generic.html" %}

{% block content %}
<div id="fileupload" style="padding-top:5px; padding-bottom:5px; background:#dddddd;width:100%;margin:auto; text-align: center;">
<form class="upload" action="{% url 'puzzles.views.puzzle_upload' puzzle.id %}" method="post" enctype="multipart/form-data">{% csrf_token %}
  {{ form.as_ul }}
  <input type="submit" value="Submit" />
</form>
<form class="upload" action="{% url 'puzzles.views.puzzle_info' puzzle.id %}" method="get">{% csrf_token %}
  <input type="submit" value="Cancel" />
</form>
</div>
{% endblock %}
