{% extends "puzzles/base_newgeneric.html" %}

{% load static %}

{% block content %}
<div class="puzzle-blurb status-{{ puzzle.status.css_name }}">
    <a class="puzzle-title" target="_blank" href="{{ puzzle.url }}" title="Go to {{puzzle.title}} on hunt site">
           <img src="{% static "img/puzzlelinkbw.svg" %}" class="puzzleicon"> 
           {{ puzzle.title }}
    </a>

    {% if puzzle.jitsi_room_id %}
    <div id="jitsi">
      <a target="_new" href="{% url 'puzzles.views.puzzle_jitsi_page' puzzle.id %}"><img src="{% static "img/videochat.svg" %}" class="iconimage" title = "Go to {{puzzle.title}} Jitsi room"/></a>
    </div>
    {% endif %}

    <div id="people" class="blurbblock">
      <img src="{% static "img/users.svg" %}" class="iconimage"/>
      {% if you_solving %}
        {{ other_solvers|length|add:"1" }}
      {% else %}
        {{ other_solvers|length }}
      {% endif %}
      <div id="people-adder" class="selector">
        Currently on it:
        {% if not you_solving and not other_solvers %}
        nobody
        {% endif %}
        {% if you_solving %}
        <span class="onesolver"><img src="{% static "img/user.svg" %}" class="iconimage">You
              </span>
        {% endif %}
        {% for solver in other_solvers %}
    <span class="onesolver" title="Location: {{ solver.userprofile.location }}">
            <img src="{% static "img/user.svg" %}" class="iconimage">{{ solver.first_name }} {{ solver.last_name }}
          </span>
    {% endfor %}
    <a href="{% url 'puzzles.views.puzzle_view_history' puzzle.id %}">History</a>
      </div>
    </div>

    <div id="files" class="blurbblock">
      <img src="{% static "img/files.svg" %}" class="iconimage"/>
      {{ uploaded_files|length }}
      <div id="puzzlefiles" class="selector">
        <form class="upload" action="{% url 'puzzles.views.puzzle_upload' puzzle.id %}" onsubmit="submitform(event);" method="post" enctype="multipart/form-data">{% csrf_token %}
          File:
          <input type="file" name="file" />
          Name:
          <input type="text" name="name" />
          <input type="submit" value="Upload" />
        </form>
        {% if uploaded_files %}
        <div>Attached files:</div>
         <select id="fileselector" class="lightdropdown">
        {% for upload in uploaded_files %}
        <option style="background:url({% static "img/file.png" %}) no-repeat; padding-left:15px;" value="{{ upload.url }}">{{ upload.name }}</option>
        {% endfor %}
         </select>
              <input type="button" class="addme" value="Open" onclick="window.open(document.getElementById('fileselector').options[document.getElementById('fileselector').selectedIndex].value, '_blank');">
        {% endif %}
      </div>
    </div>

    <div id="responses" class="blurbblock">
      <img src="{% static "img/answers.svg" %}" class="iconimage"/>
      {% if puzzle.answer %}
         <img src="{% static "img/greencheck.svg" %}" class="iconimage"/>
      {% endif %}
      <div id="answers" class="selector">
        {% if not puzzle.answer and not queued_answers and not wrong_answers %}
          <div class="noanswers">No answers yet.</div>
        {% endif %}
        {% if puzzle.answer %}
        <div id="puzzleanswer">
         <span class="answerlabel"><img src="{% static "img/greencheck.svg" %}" class="iconimage"> ANSWER</span>
        <span class="puzzle-answer">{{ puzzle.answer }}</span>
        </div>
        {% else %}
        {% if queued_answers %}
        <span class="answerlabel">QUEUED ANSWERS</span>
          {% for queued_answer in queued_answers %}
          <div>{{ queued_answer.answer }}</div>
          {% endfor %}
        {% endif %}
        {% if answer_callin %}
        <a id="callinanswer" href="{% url 'puzzles.views.puzzle_call_in_answer' puzzle.id %}">Call in answer</a>
        {% endif %}
        {% endif %}
        {% if wrong_answers %}
        <span class="answerlabel">WRONG ANSWERS</span>
          {% for wrong_answer in wrong_answers %}
          <div>{{ wrong_answer.answer }}</div>
          {% endfor %}
        {% endif %}
      </div>

    </div>

    <div id="puzzlestatus" class="blurbblock">
    <img src="{% static "img/progress.svg" %}" class="iconimage gray" title = "Puzzle status"/>
    <form id="status_form" action="{% url 'puzzles.views.puzzle_set_status' puzzle.id %}" onsubmit="submitform(event);" method="post">{% csrf_token %}
      <input type="hidden" name="continue" value="{{ path }}" />
      <select onchange="document.forms.status_form.requestSubmit()" name="status" class="lightdropdown">
	{% for status in statuses %}
	<option{% if puzzle.status == status %} selected="true"{% endif %}>{{ status.text }}</option>
	{% endfor %}
      </select>
    </form>
    </div>

    <div id="puzzlepriority" class="blurbblock">
    <img src="{% static "img/priority.svg" %}" class="iconimage gray" title = "Puzzle priority"/>
    <form id="priority_form" action="{% url 'puzzles.views.puzzle_set_priority' puzzle.id %}" onsubmit="submitform(event);" method="post">{% csrf_token %}
      <input type="hidden" name="continue" value="{{ path }}" />
      <select onchange="document.forms.priority_form.requestSubmit()" name="priority" class="lightdropdown">
	{% for priority in priorities %}
	<option{% if puzzle.priority == priority %} selected="true"{% endif %}>{{ priority.text }}</option>
	{% endfor %}
      </select>
    </form>
    </div> 

    <!--
    <div id="tags">
    Tags (view only):
    <select id="puzzle-tags">
    {% for tag in puzzle.tags.all %}
    <option>{{ tag.name }}</option>
    {% endfor %}
    </select>
    </div>
    -->

</div>
{% endblock %}
