{% extends "puzzles/base_generic.html" %}

{% load static %}

{% block header %}{% include "puzzles/infoheader.html" with compact_header="compact-header" %}{% endblock %}

{% block title %} {{ puzzle.title }} {% endblock %}
{% block externaljs %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/split.js/1.6.5/split.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/interactjs/dist/interact.min.js"></script>
{% endblock %}

{% block content %}
<div id="puzzle-info-bar" class="puzzle-info-bar">
  <i class="ti ti-loader-2 loader-icon"></i>
</div>
<div id="content" class="split">
  <div id="left" class="frame">
    <iframe src="{% url 'puzzles.views.puzzle_spreadsheet' id %}"></iframe>
  </div>
  <div id="right" class="frame">
    <iframe src="{% url 'puzzles.views.puzzle_chat' id %}"></iframe>
  </div>
</div>
<div id="video-resize-overlay">
</div>
<div id="dialog-window">
  <div id="dialog-window-close-button" onClick="hideDialog()">
    <i class="ti ti-x"></i>
  </div>
  <div id="dialog-window-content">
  </div>
</div>
<div id="dialog-overlay" onClick = "hideDialog()">
</div>
</div>
<div id="inline-video">
  <div id="video-titlebar">
    <div class="titlebar-button" title="Open video in new tab" onClick="popoutVideo()">
      <i class="ti ti-external-link"></i>
    </div>
    <div class="video-title">Video chat</div>
    <div class="titlebar-button" title="Close video" onClick="closeVideo()">
      <i class="ti ti-x"></i>
    </div>
  </div>
  <div id="internal-video-resize-overlay"></div>
  <div id="video-content">
  </div>
</div>
<script>

  let puzzle_data = {};

  // Show dialog overlay
  function showDialogOverlay(html) {
    document.getElementById("dialog-overlay").style.display = 'block';
    document.getElementById("dialog-window-content").innerHTML = html ? html : "Dialog window content";
    document.getElementById("dialog-window").style.display = "block";
  }

  // Hide dialog overlay
  function hideDialog() {
    document.getElementById("dialog-overlay").style.display = 'none';
    document.getElementById("dialog-window").style.display = 'none';
  }

  async function viewSolvers() {
    let html = `<div class="loading-placeholder"><i class="ti ti-loader-2 dialog-loading"></i></div>`;
    showDialogOverlay(html);
    try {
          const response = await fetch("{% url 'puzzles.views.api_puzzle_history' id %}", {
            method: "POST",
            headers: {
                "X-CSRFToken": "{{ csrf_token }}",
            }});
          const data = await response.json();
          html = `
            ${data.current_viewers.length > 0 ?
              `<div class="dialog-row">
                <header class="dialog-section-header">
                <i class="ti ti-binoculars"></i> Currently viewing
                </header>
               ${data.current_viewers.map(viewer => `
                    <div class="viewer">
                      <div class="viewer-pic"><img src="/profile_photo/${viewer.id}" class="viewer-pic-image"/></div>
                      <div class="viewer-info">
                        <div class="viewer-name">${viewer.first_name} ${viewer.last_name}</div>
                        <div class="viewer-location">${viewer.location}</div>
                      </div>
                    </div>`).join('')}
              </div>` : ''}
            ${data.prior_viewers.length > 0 ?
              `<div class="dialog-row">
                <header class="dialog-section-header">
                <i class="ti ti-history"></i> Viewed in the past
                </header>
               ${data.prior_viewers.map(viewer => `
                    <div class="viewer">
                      <div class="viewer-pic"><img src="/profile_photo/${viewer.id}" class="viewer-pic-image"/></div>
                      <div class="viewer-info">
                        <div class="viewer-name">${viewer.first_name} ${viewer.last_name}</div>
                        <div class="viewer-location">${viewer.hours} ${viewer.hours == 1 ? 'hour' : 'hours'}, ${viewer.location}</div>
                      </div>
                    </div>`).join('')}
              </div>` : ''}
          `;
          showDialogOverlay(html);
      } catch (error) {
          console.error('Error fetching puzzle data:', error);
      }
  }

  async function updatePuzzle(update_fields) {
    try {
        const response = await fetch("{% url 'puzzles.views.api_update_puzzle' id %}", {
            method: 'POST',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(update_fields),
        });

        if (response.ok) {
            const data = await response.json();
            puzzle_data = data;
            renderPuzzleInfoBar(data);
        } else {
            const errorData = await response.json();
            console.error('Error:', errorData.error);
        }
    } catch (error) {
        console.error('Fetch Error:', error);
    }
  }

  function startPuzzle() {
    updatePuzzle({
      "status": "being worked on"
    });
  }

  function setPriority() {
    let select_element = document.getElementById("priority-select");
    updatePuzzle({
      "priority": select_element.options[select_element.selectedIndex].text
    });
  }

  function setStatus() {
    let select_element = document.getElementById("status-select");
    updatePuzzle({
      "status": select_element.options[select_element.selectedIndex].text
    });
  }

  // Show puzzle state (priority and status) edit dialog
  function editPuzzleState() {
    let puzzleStateHTML = `
      <div class="dialog-section">
        <header class="dialog-section-header">
          <i class="ti ti-flag"></i> Puzzle priority
        </header>
        <div class="selectwrap">
        <select onchange="setPriority()" id="priority-select" name="priority">
             ${puzzle_data.priorities.map(priority => `<option class="priority" ${puzzle_data.puzzle.priority == priority ? `selected="true"` : ''}>${priority}</option>`).join('')}
        </select>
        <i class="ti ti-chevron-down select-icon"></i>
        </div>
      </div>
      <div class="dialog-section">
        <header class="dialog-section-header">
          <i class="ti ti-activity"></i> Puzzle status
        </header>
        <div class="selectwrap">
        <select onchange="setStatus()" id="status-select" name="status">
             ${puzzle_data.statuses.map(status => `<option class="status" ${puzzle_data.puzzle.status == status ? `selected="true"` : ''}>${status}</option>`).join('')}
        </select>
        <i class="ti ti-chevron-down select-icon"></i>
        </div>
      </div>
    `;
    showDialogOverlay(puzzleStateHTML);
  }

  // Open video in new tab
  function popoutVideo() {
    window.open(document.getElementById("jitsi-video").src, '_blank').focus();
    closeVideo();
  }

  // Show video
  function showVideo(puzzle_id) {
    document.getElementById("video-content").innerHTML = `
      <iframe src="/puzzle/jitsi/${puzzle_id}?start_muted=1" id="jitsi-video" class="jitsi-video"></iframe>
      <div class="loading-video"><i class="ti ti-loader-2"></i></div>
    `
    document.getElementById("inline-video").style.display = 'block';
  }

  // Hide video
  function closeVideo() {
    document.getElementById("inline-video").style.display = 'none';
    document.getElementById("video-content").innerHTML = "";
  }

  // Show overlay
  function showVideoOverlay() {
    document.getElementById("video-resize-overlay").style.display = 'block';
    document.getElementById("internal-video-resize-overlay").style.display = 'block';
  }

  // Hide overlay
  function hideVideoOverlay() {
    document.getElementById("video-resize-overlay").style.display = 'none';
    document.getElementById("internal-video-resize-overlay").style.display = 'none';
  }

    // Make video draggable and resizable
  interact('#inline-video')
  .draggable({
    allowFrom: '#video-titlebar', // Allow dragging only by the title bar
    ignoreFrom: '.titlebar-button',
    modifiers: [
      interact.modifiers.restrictRect({
        restriction: 'parent'
      })
    ],
    listeners: {
      start() {
        showVideoOverlay(); // Show the overlay when dragging starts
      },
      move(event) {
        const target = event.target;
        const dataX = parseFloat(target.getAttribute('data-x')) || 0;
        const dataY = parseFloat(target.getAttribute('data-y')) || 0;

        const x = dataX + event.dx;
        const y = dataY + event.dy;

        target.style.transform = `translate(${x}px, ${y}px)`;

        target.setAttribute('data-x', x);
        target.setAttribute('data-y', y);
      },
      end() {
        hideVideoOverlay(); // Hide the overlay when dragging ends
      },
    },
  }).resizable({
    edges: { top: true, left: true, bottom: true, right: true },
    margin: 10,
    modifiers: [
      // keep the edges inside the parent
      interact.modifiers.restrictEdges({
        outer: 'parent'
      }),
    
      // minimum size
      interact.modifiers.restrictSize({
        min: { width: 100, height: 50 }
      })
    ],
    listeners: {
      start() {
        showVideoOverlay(); // Show the overlay when resizing starts
      },
      move(event) {
         var target = event.target;
         var x = (parseFloat(target.getAttribute('data-x')) || 0);
         var y = (parseFloat(target.getAttribute('data-y')) || 0);

         // update the element's style
         target.style.width = event.rect.width + 'px';
         target.style.height = event.rect.height + 'px';

         // translate when resizing from top or left edges
         x += event.deltaRect.left;
         y += event.deltaRect.top;

         target.style.transform = 'translate(' + x + 'px,' + y + 'px)';

         target.setAttribute('data-x', x);
         target.setAttribute('data-y', y);
      },
      end() {
        hideVideoOverlay(); // Hide the overlay when resizing ends
      },
    },
  });

  // Render puzzle info bar
  function renderPuzzleInfoBar(data) {
    let puzzle_priority = data.puzzle.priority ? data.puzzle.priority.replace(/!/g, '') : "normal";
    let html = `
       <span class="puzzle-name">
         <a class="puzzle-name-link infobar-link" href="/puzzle/linkout/${data.puzzle.id}" target="_blank">
           <i class="ti ti-external-link"></i>
           ${data.puzzle.round ? data.puzzle.round + `<i class="ti ti-chevron-right puzzle-chevron"></i>` : ""}${data.puzzle.title}
         </a>
       </span>
       <span class="video-chat infobar-section">
        <div class="video-chat-link infobar-link" onClick="showVideo('${data.puzzle.id}')" title="Open puzzle video chat" target="_blank">
          <i class="ti ti-video"></i>
        </div>
       </span>
       
        ${data.puzzle.status ? `
          <span class="infobar-section">
          <div class="infobar-badge ${puzzle_priority}-priority editable" onClick = "editPuzzleState()">
            <i class="ti ti-flag"></i>
            ${data.puzzle.priority}
          </div> 
          </span>` : ''
        }
      
       <span class="infobar-section">
                         ${data.puzzle.status ? `
                      <div class="infobar-badge infobar-status editable" onClick = "editPuzzleState()"">
                        <i class="ti ti-activity"></i>
                        ${data.puzzle.status}
                        </div>${data.puzzle.status === "not started" ? `<div class="infobar-action-link" onClick="startPuzzle()">start</div>` : ''}`
                      : `<div class="infobar-badge infobar-answer"><i class="ti ti-circle-check answer-check"></i>${data.puzzle.answer}</div>`}
       </span>
       
        ${data.puzzle.solvers && data.puzzle.status ?
          `<span class="infobar-section">
            <div class="infobar-badge editable viewable" onClick="viewSolvers()">
            <i class="ti ti-users"></i>
            ${data.puzzle.solvers.length} ${data.puzzle.solvers.length == 1 ? 'solver' : 'solvers'}
            </div>
           </span>` : '' 
        }

        ${data.puzzle.uploaded_files ?
          `<span class="infobar-section">
            <div class="infobar-badge">
            <i class="ti ti-paperclip"></i>
            ${data.puzzle.uploaded_files.length} ${data.puzzle.uploaded_files.length == 1 ? 'attachment' : 'attachments'}
            </div>
           </span>` : '' 
        }

        ${data.puzzle.prior_answers ? 
           `<span class="infobar-section">
            <div class="infobar-badge">
              <i class="ti ti-clipboard-text"></i>
              Answers:
              ${data.puzzle.prior_answers.wrong ?
                `${data.puzzle.prior_answers.wrong.length} wrong` : ''
              }${data.puzzle.prior_answers.wrong && data.puzzle.prior_answers.queued ? ', ' : ''}
              ${data.puzzle.prior_answers.queued ?
                ` 
                  ${data.puzzle.prior_answers.queued.length} in queue
                ` : ''
              }
            </div>
            </span>` : ''
        }

        <span class="infobar-section">
          <div class="infobar-badge">
            <i class="ti ti-progress-help"></i>
            ${data.puzzle.hints.length} ${data.puzzle.hints.length == 1? "hint" : "hints"}
          </div>
          ${data.puzzle.hints.length == 0 ? `<div class="infobar-action-link">request</div>` : ''}
        </span>
      `;

    document.getElementById("puzzle-info-bar").innerHTML = html;
  }

  // Update the puzzle info bar
  async function fetchAndUpdateInfoBar() {
      try {
          const response = await fetch("{% url 'puzzles.views.api_puzzle' id %}", {
            method: "POST",
            headers: {
                "X-CSRFToken": "{{ csrf_token }}",
            }});
          const data = await response.json();
          puzzle_data = data;
          renderPuzzleInfoBar(data);
      } catch (error) {
          console.error('Error fetching puzzle data:', error);
      }
  }

  // Update the puzzle info bar
  async function logAView() {
      if (document.visibilityState === "visible") {
        try {
            const response = await fetch("{% url 'puzzles.views.api_log_a_view' id %}", {
              method: "POST",
              headers: {
                  "X-CSRFToken": "{{ csrf_token }}",
              }});
        } catch (error) {
            console.error('Error logging the puzzle view:', error);
        }
      }
  }

  // Initial load
  fetchAndUpdateInfoBar();
  logAView();

  document.addEventListener("visibilitychange", () => {
    if (document.visibilityState === "visible") {
      logAView();
      fetchAndUpdateInfoBar();
    }
  });

  // Update every 60 seconds
  setInterval(fetchAndUpdateInfoBar, 60000);
  setInterval(logAView, 60000);

  // Initialize Split.js
  const split = Split(['#left', '#right'], {
      sizes: [80, 20],
      minSize: [200, 0],
      gutterSize: 5,
      snapOffset: 0,
      onDrag: () => {
          // Update arrow position when dragging
          updateArrowVisibility();
      }
  });

  toggleArrowHTML = `
  <i class="ti ti-chevron-right toggle-arrow-icon"></i>
  `

  // Create and append the toggle arrow
  const gutter = document.querySelector('.gutter');
  const toggleArrow = document.createElement('div');
  toggleArrow.id = "toggle-arrow";
  toggleArrow.innerHTML = toggleArrowHTML;
  gutter.appendChild(toggleArrow);

  // Create and append the grip handle
  const gripHandle = document.createElement('div');
  gripHandle.id = "grip-handle"
  gripHandle.innerHTML = `<i class="ti ti-grip-vertical"></i>`
  gutter.appendChild(gripHandle);

  // Handle collapse/expand functionality
  let isCollapsed = false;
  const rightPanel = document.getElementById('right');
  let previousSize = 20;

  toggleArrow.addEventListener('click', (e) => {
      e.stopPropagation(); // Prevent gutter drag when clicking arrow
      
      if (isCollapsed) {
          split.setSizes([100 - previousSize, previousSize]);
          rightPanel.style.display = 'block';
      } else {
          previousSize = split.getSizes()[1];
          split.setSizes([100, 0]);
          rightPanel.style.display = 'none';
      }
      
      isCollapsed = !isCollapsed;
      toggleArrow.classList.toggle('collapsed');
  });

  function updateArrowVisibility() {
      const sizes = split.getSizes();
      if (sizes[1] < 1) {
          toggleArrow.classList.add('collapsed');
          isCollapsed = true;
          rightPanel.style.display = 'none';
      } else if (isCollapsed) {
          toggleArrow.classList.remove('collapsed');
          isCollapsed = false;
          rightPanel.style.display = 'block';
      }
  }
</script>

{% endblock %}
