{% extends "puzzles/base_generic.html" %}

{% block content %}
<div class="puzzle-blurb status-{{ puzzle.status.css_name }}">
    <a class="puzzle-title" target="_blank" href="{{ puzzle.url }}" title="Go to {{puzzle.title}} on hunt site"><img src="{{ STATIC_URL }}img/external.png" style="vertical-align:middle;"> {{ puzzle.title }}</a>


    <div id="puzzlestatus">
    Status:
    <form id="status_form" action="{% url 'puzzles.views.puzzle_set_status' puzzle.id %}" method="post">{% csrf_token %}
      <input type="hidden" name="continue" value="{{ path }}" />
      <select onchange="document.forms.status_form.submit()" name="status">
	{% for status in statuses %}
	<option{% if puzzle.status == status %} selected="true"{% endif %}>{{ status.text }}</option>
	{% endfor %}
      </select>
    </form>
    </div>


    <div id="puzzlepriority">
    Priority:
    <form id="priority_form" action="{% url 'puzzles.views.puzzle_set_priority' puzzle.id %}" method="post">{% csrf_token %}
      <input type="hidden" name="continue" value="{{ path }}" />
      <select onchange="document.forms.priority_form.submit()" name="priority">
	{% for priority in priorities %}
	<option{% if puzzle.priority == priority %} selected="true"{% endif %}>{{ priority.text }}</option>
	{% endfor %}
      </select>
    </form>
    </div> 

    <div id="tags">
    Tags (view only):
    <select id="puzzle-tags">
    {% for tag in puzzle.tags.all %}
    <option>{{ tag.name }}</option>
    {% endfor %}
    </select>
    </div>

    <div id="add_crossword">
      <form action="{% url 'puzzles.views.puzzle_add_crossword' puzzle.id %}" method="post">{% csrf_token %}
        <input type="hidden" name="continue" value="{{ path }}" />
        <input type="submit" value="+ Collabortive Crossword Sheet">
      </form>
    </span>

    <div id="puzzlefiles">
  <a id="attachfile" href="{% url 'puzzles.views.puzzle_upload' puzzle.id %}">Attach file</a>
  {% if uploaded_files %}Attached files:
   <select id="fileselector">
  {% for upload in uploaded_files %}
	<option style="background:url({{ STATIC_URL }}img/file.png) no-repeat; padding-left:15px;" value="{{ upload.url }}">{{ upload.name }}</option>
  {% endfor %}
   </select>
        <input type="button" value="Open" onclick="window.open(document.getElementById('fileselector').options[document.getElementById('fileselector').selectedIndex].value, '_blank');">
  {% endif %}
  </div>

</div>

<div id="answers">
  {% if puzzle.answer %}
  <div id="puzzleanswer">
  <strong><img src="{{ STATIC_URL }}img/correct.png" style="vertical-align:middle;"> Answer: <span class="puzzle-answer">{{ puzzle.answer }}</span></strong>
  </div>
  {% else %}
  {% if queued_answers %}
  Queued:
  <ul id="puzzle-queued-answers">
    {% for queued_answer in queued_answers %}
    <li>{{ queued_answer.answer }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endif %}
  {% if wrong_answers %}
  Wrong answers:
  <ul id="puzzle-wrong-answers">
    {% for wrong_answer in wrong_answers %}
    <li>{{ wrong_answer.answer }}</li>
    {% endfor %}
  </ul>
  {% endif %}
</div>

<div id="workers">
      Working on this now:
      {% if not you_solving and not other_solvers %}
      nobody
      {% endif %}
      {% if you_solving %}
	<span class="onesolver"><img src="{{ STATIC_URL }}img/user.png" style="vertical-align:middle;padding-right:2px;">You
	  <form action="{% url 'puzzles.views.puzzle_remove_solver' puzzle.id %}" method="post">{% csrf_token %}
	    <input type="hidden" name="continue" value="{{ path }}" />
	    <input type="hidden" name="solver" value="{{ user.id }}" />
	    <input type="image" src="{{ STATIC_URL }}img/remove.png" type="submit" alt="Remove" style="vertical-align:middle;"/>
	  </form>
        </span>
      {% endif %}
      {% for solver in other_solvers %}
	<span class="onesolver" title="{{ solver.first_name }} {{ solver.last_name }} ({{ solver.userprofile.location }})">
          <img src="{{ STATIC_URL }}img/user.png" style="vertical-align:middle;padding-right:2px;">{{ solver.first_name }}
	  <form action="{% url 'puzzles.views.puzzle_remove_solver' puzzle.id %}" method="post">{% csrf_token %}
	    <input type="hidden" name="continue" value="{{ path }}" />
	    <input type="hidden" name="solver" value="{{ solver.id }}" />
	    <input type="image" src="{{ STATIC_URL }}img/remove.png" alt="Remove" style="vertical-align:middle;"/>
	  </form>
        </span>
      {% endfor %}

  <span>
    Add:
    {% if not you_solving %}
    <form action="{% url 'puzzles.views.puzzle_add_solver' puzzle.id %}" method="post">{% csrf_token %}
      <input type="hidden" name="continue" value="{{ path }}" />
      <input type="hidden" name="solver" value="{{ user.id }}" />
      <input type="submit" value="Me" />
    </form>
    {% endif %}
    <form id="add_other_user" action="{% url 'puzzles.views.puzzle_add_solver' puzzle.id %}" method="post">{% csrf_token %}
      <input type="hidden" name="continue" value="{{ path }}" />
      <select onchange="document.forms.add_other_user.submit()" name="solver">
	<option>Other user...</option>
	{% for other_user in other_users %}
	<option value="{{ other_user.id }}">{{ other_user.first_name }} {{ other_user.last_name }}</option>
	{% endfor %}
      </select>
    </form>
  </span>
</div>

<script type="text/javascript">
    function collaborationGoTo(target) {
        // Unselect the previously selected button
        var currentlySelected = Array.prototype.slice.call(
            document.getElementsByClassName("collaboration_link_button_sel"));
        for (var i = 0; i < currentlySelected.length; i++) {
            currentlySelected[i].setAttribute('class', 'collaboration_link_button')
            currentlySelected[i].removeAttribute('disabled');
        }

        // Select the newly-clicked button
        target.setAttribute('class', 'collaboration_link_button_sel');
        target.setAttribute('disabled', 'true');

        // Set the frame's source
        var src = target.getAttribute('data-src');
        parent.setCollaborationSrc(src);

        // Update the delete button form
        var crossword_id = target.getAttribute('data-crossword-id');
        var form = document.getElementById('delete_crossword_form');
        if (crossword_id == "") {
            form.setAttribute('class', 'delete_crossword_form_hidden');
        } else {
            form.setAttribute('class', '');
        }
        document.getElementById('crossword_id_input').value = crossword_id;
    }

    // Makes sure that all the state is correct for the initially
    // selected item.
    window.addEventListener('load', function() {
        collaborationGoTo(document.getElementsByClassName('collaboration_link_button_sel')[0]);
    });
</script>
<div id="collaboration_links" style="{% if hide_collaboration_links %}display: none{% endif %}">
    {% for collaboration_link in collaboration_links %}
        <input type="button"
            class="{% if collaboration_link.selected %}collaboration_link_button_sel{%else%}collaboration_link_button{%endif%}"
            onClick="collaborationGoTo(event.target)"
            value="{{ collaboration_link.text }}"
            data-src="{{ collaboration_link.url }}"
            data-crossword-id="{{ collaboration_link.id }}">
    {% endfor %}
    <form id="delete_crossword_form" action="{% url 'puzzles.views.puzzle_delete_crossword' puzzle.id %}"
            method="post" class="delete_crossword_form_hidden"
            >{% csrf_token %}
        <input type="hidden" name="continue" value="{{ path }}">
        <input type="hidden" name="crossword_id" value="" id="crossword_id_input">
        <input type="submit" value="Delete this crossword sheet">
    </form>
</div>

</div>
{% endblock %}
