{% extends "puzzles/base_generic.html" %}

{% load static %}

{% block title %}History{% endblock %}

{% block content %}
<h1> Viewing 	      <a href="{% url 'puzzles.views.puzzle' puzzle.id %}">{{ puzzle.title }}</a></h1>

<div>
   <h2>In the last few minutes</h2>
  {% if current_solvers %}
<table>
  {% for solver in current_solvers %}
  <tr> <td>{{solver.first_name}} {{solver.last_name}} ({{solver.userprofile.location}})</td></tr>
  {% endfor %}
</table>
{% else %}
<i>None</i>
{% endif %}
</div>
<div>
  <h2> Historical Views </h2>
  <table>
    <tr>
      <th>Person</th> <th>Cumulative hours with tab open</th>
    </tr>
  {% for record in historical_solvers %}
    <tr>
      <td>{{record.0.first_name}} {{record.0.last_name}} ({{record.0.userprofile.location}})</td>
      <td>{{record.1|floatformat}}</td>
    </tr>
    {% endfor %}
    </table>
{% endblock %}
