body {
    margin: 0px;
}

a {
    color: #006b9a;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

div#header {
    background: #cccccc;
}

form {
    display: inline;
}

ul#navlist {
    display: inline;
    padding: 0px 20px;
}

ul#navlist li {
    display: inline;
    padding: 0px 6px;
}

ul#puzzlelist {
    display: inline;
    padding: 0px;
}

ul#puzzlelist li {
    display: inline;
    padding: 0px;
}

ul#puzzlelist form {
    padding: 0px 3px;
}

.username { color: #cc0000; }

div#motd {
    background: #eeff88;
    padding: 0px 6px;
}

span.active-taglist {
    font-weight: bold;
}

span.taglist {
    font-style: italic;
}

span.tag {
    font-style: italic;
}

tr.puzzle-list-header {
    background: #d2dadd;
}

tr.puzzle-list-odd {
    background: #f2f8fa;
}

tr.puzzle-list-even {
    background: #e5edf0;
}

td.puzzle-list-puzzle {
    background: white;
}

td.puzzle-list-title {
    width: 400px;
}

td.puzzle-list-status {
    width: 170px;
}

div.puzzle-blurb {
    padding: 3px;
}

.puzzle-blurb > table {
    display: inline-table;
    vertical-align: top;
}

span.puzzle-title {
    font-weight: bold;
}

#whos-working {
    font-size: 80%;
}

#whos-working th {
    color: #808080;
    font-weight: normal;
}

#whos-working * {
    padding: 0px;
    border-spacing: 0px;
}

td input {
    vertical-align: bottom;
}